 @media (max-width: 1047px){

    
    .header .span {
        justify-content: space-between;
        list-style: none;
        display: flex;
        gap: 10px;
    } 
    .button{
        display: none;
    }
    .hero_image img {
        width: 1100px;
        height: 500px;
    
    }

    .booking_appoint {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px; 
        z-index: 100; 
        text-align: center;
        gap: 20px;
    }        

    .About {
    
    gap: 1px;

    
    
    /* align-content: center; */
    padding: 5px 10px 5px 10px;
    
    
}

 .About_unth{
    align-items: center;
    justify-content:center;
    margin-top: 50px;
    
}
.About {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    background-color:#f3fdfc;
     gap: 20px;
    /* width: 100%;  */
} 

.about_txt {
    max-width: 100%;
    padding: 3px 3px 3px 3px;
    margin: 5px; 
    align-content: center;
    justify-content:baseline;

}

.E_consultation {
    display: flex;
    margin-top: 40px; 
    gap: 120px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.E_consultation img {
    width: 400px;
  
}
.footer {
    display: grid;
   grid-template-columns: repeat(3,1fr); 
    gap:40px;  
    justify-content: center; 
   align-content: center;
   padding: 90px 20px 90px 20px; 
   background-color: #248159;
    margin-top: 80px; 
   color: #fff;
   justify-content: baseline;
}

.footer p{

}
.footer_unth {
    line-height: 3;
}
.footer h4{
    padding-bottom: 20px;
    display: flex;
    text-align: center;
}


.footer_img img {
     margin-right: 22px;  
     float: left; 
    border-radius: 50px;
    margin-top: 10px;
    
    
    

} 
.footer_img .text {
     margin-bottom: 45px;  
     text-align: left;
     overflow: hidden;
     margin-right: 10px;
    
     
}  

}