/* @media (max-width: 1047px){
    .header {
        width: 350;
    }
    .header .span {
        gap: 10px;
    }  
      
    #bx-open {
        font-size: 30px;
        display: none
    }
    
 
    .booking_appoint {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px; 
        z-index: 100; 
        text-align: center;
        gap: 20px;
    }        

    .About {
    
        padding: 30px 70px 30px 70px;
    }
    
    .About_unth{
        align-items: center;
        justify-content:center;
        margin-top: 50px;
    }
    
    .About {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      align-content: center;
      background-color:#f3fdfc;
      gap: 20px;
      width: 100%; 
   } 
    .about_txt {
       font-size: 15px;
       width: 200px;
       padding: 3px 3px 3px 3px;
       margin: 5px; 
       align-content: center;
       justify-content:baseline;

    }
       
    
    
    .E_consultation {
        display: flex;
        flex-direction: wrap;
        margin-top: 40px; 

        justify-content: center;
        align-items: center;
        width: 1000px;
        align-content: center;
        
    }
    
    .E_consultation img {
      width: 350px; 
      
    }
    
    .E_consultation h2 {
       
       
      width: 350px;  
    }
    
    .E_consultation p {
    
        
     width: 350px; 
    }
    .consult {
        width: 400px;
    }
    .footer {
       display: grid;
       grid-template-columns: repeat(3,1fr); 
       gap:40px;  
       justify-content: center; 
       align-content: center;
       padding: 90px 20px 90px 20px; 
       background-color: #248159;
       margin-top: 80px; 
       color: #fff;
       justify-content: baseline;
    }
    
     .footer p{
       font-size: 14px;
    
    
    } 
    
    .footer h4{
        padding-bottom: 20px;
        display: flex;
        text-align: center;
    }
    
    
    
    .footer_img .text {
         margin-bottom: 45px;  
         text-align: left;
         overflow: hidden; 
         margin-right: 10px;
        
         
    }  
    
    } */

/* -------------FOR  TABLET--------------------------------- */

@media (max-width: 900px) {
  .header {
    display: none;
  }
  nav ul {
    display: none;
  }

  #bx-open {
    font-size: 30px;
    display: block;
  }

  .booking_appoint {
    margin-top: -50px;
    z-index: 100;
    text-align: center;
    gap: 30px;
    padding: 10px;
  }

  .button_help {
    padding: 25px 25px;
  }
  .hero_container h2 {
    color: #fff;
    font-size: 45px;
    width: 80%;
  }

  .About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about_txt {
    font-size: 15px;
    gap: 16px;
    width: 250px;
    /* align-content: center; */
    justify-content: center;
  }

  .About_unth img {
    width: 100%;
  }

  .E_consultation {
    margin-top: 10px;
    gap: 30px;
    padding: 0 40px;
    justify-content: space-between;
  }

  .footer p {
    font-size: 13px;
    width: 200px;
  }

  .footer_unth p {
    line-height: 3;
  }
  .footer h4 {
    width: 200px;
  }

  .footer_copyright h4 {
    font-size: 15px;
  }

  .mobile_header {
    display: none;
  }
}

/* ----------------FOR MOBILE------------------------------------- */
@media (max-width: 663px) {
  .nav_bar {
    padding: 7px 15px 7px 15px;
    /* width: 400px; */
    font-size: 5px;
    z-index: 2;
    position: absolute;
  }
  .logo {
    width: 60px;
  }

  #bx-open {
    color: #fff;
  }

  .hero_container h2 {
    color: #fff;
    font-size: 30px;
    width: 80%;
  }
  .button {
    background-color: #004d2c;
    color: white;
    padding: 12px 12px;
    border-radius: 20px;
  }

  .hero_container {
    height: 400px;
  }

  .booking_appoint {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 400px; */
  }

  .button_help {
    background-color: #248159;
    color: white;
    border-radius: 5px;
    padding: 15px;
    /* flex: 1; */
    margin: 18px;
    align-content: center;
    width: 250px;
    text-align: center;
  }

  .About {
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  .about_txt {
    font-size: 14px;
    width: 250px;
  }

  .E_consultation {
    flex-direction: column-reverse;
    padding: 0px 20px;
    gap: 30px;
  }

  .E_consultation img {
    height: 400px;
  }

  .consult {
    text-align: center;
    width: 100%;
  }

  .button_consult {
    background-color: #004d2c;
    color: white;
    padding: 15px 35px;
    border-radius: 20px;
  }

  .footer {
    flex-direction: column;
  }
  .footer p {
    font-size: 13px;
    width: 300px;
  }
  .footer_contact p {
    font-size: 14px;
    justify-content: center;
  }
  .footer_unth {
  }
  .footer h4 {
    width: 300px;
    justify-content: center;
    font-size: 19px;
  }

  .footer_copyright h4 {
    font-size: 9px;
    /* text-align: center; */
  }
  .footer_img {
    width: 10%;
  }
  .container {
  }

  #form {
    width: 300px;
    margin-top: 50px;
  }

  .main_gallary img {
    width: 100%;
    margin-top: 30px;
    height: 300px;
  }

  .main_gallary {
    background-position: center;
    text-align: center;
  }

  .main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
  .phoneline h2 {
    width: 100%;
    padding: 0 40px;
  }
  .address h2 {
    padding: 0 40px;
  }

  .main_info .line {
    background-color: green;
    width: 15%;
    border-radius: 30px;
    color: white;
    margin-left: 30px;
  }

  .phone {
    padding: 0 50px;
    width: 100%;
    line-height: 2;
  }

  .phone .bx {
    font-size: 20px;
  }
  #bx-open {
    color: black;
  }
}
